
<h1> Listing all the Articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to article.title, article_path(article) %></td>
    </tr>
  <% end %>
</table>

<li> <%= link_to 'New Article', articles_new_path %><br /> </li>